#about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  padding-left: 40px;
  font-style: italic;
  text-decoration: underline;
}

ul {
  margin: 0;
  padding-left: 40px;
}

li #slide {
  transition: 1s;
  left: 0;
}

.page {
  font-size: x-large;
  text-decoration: none;
  color: white;
}

.page:hover {
  border-bottom: 1px solid white;
}

#slide {
  position: relative;
  left: -100px;
  -webkit-animation: slide 1s forwards;
  animation: slide 1s forwards;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}
