* {
    margin: 0;
    padding: 0;
    background-color: black;
    color:white;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border-bottom: 5px solid white;
    margin: 0 25% 0;
}

#header > * {
    margin: 10px;
    padding: 10px 10px 5px;
    list-style-type: none;
}

#header * {
    text-decoration: none;
}

#header li a:hover {
    color: aqua;
    cursor: pointer;
}

#main {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}

#main * {
    color: aqua;
    margin: 10px 12.5% 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.5px;
    line-height: 1.5;
}